ITS_API_KEY = ''

MYSQL_PASSWORD=''
MYSQL_USER = ''
MYSQL_HOST = ''
SSH_HOST_VER_1 = ''
SSH_USER = ''
MYSQL_DATABASE = ''
SSH_PRIVATE_KEY = 

PG_HOST = ''
PG_PORT = ''
PG_USER = ''
PG_PASSWORD = ''
PG_DATABASE = ''
PG_SSH_HOST = ''
PG_SSH_USER = ''
PG_SSH_PORT = ''

ENABLE_SAVE_CSV=0
ENABLE_VISUALIZE=0
ENABLE_OSRM_HISTORY=0